<!--<div class="container-fluid">-->
    <div class="row banner-lucasian ">
        <div class="col-4 offset-1">

            <div class="col-auto pt-5">
                <h2>Titulo</h2>
                <span>Contenido <a href="#">more professional</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                     Vestibulum fermentum lacus nec tincidunt pulvinar.
                      Phasellus aliquam.
                </p>
                 <button type="button" class="btn-lg btn btn-blue-light">Get Started</button>                      
                 <a class="m-2">
                    <button type="button" class="btn-lg btn btn-green-light rounded-circle">
                        <i class = "fa fa-play fa-1x" aria-hidden="true"></i> 
                    </button>                      
                    <span class="ml-2">Play video</span>
                 </a>
            </div>

        </div>
        <div class="col-7">
            <img src="/assets/Captura.PNG" class="img-banner-right">
        </div>
    </div>
<!--</div>-->