<div class="ficha-oferta">
    <div class=" header p-3">
        <h6 class="title">Plan {{plan.numero}}</h6>
        <div>
            <span class="simbolo-divisa">$</span> 
            <span class="precio">{{plan.precio}}</span> 
            <span>/{{tiempoPlan}}</span>
        </div>
    </div>
    <div class="body pt-3 pl-3 pr-3">
        <ul>
            <li *ngFor="let item of plan.opciones; let i = index">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </div>
    <div class="footer p-3">
        <button type="button" class="btn btn-block btn-blue-light">Opción {{plan.numero}}</button>
    </div>
</div>